.container {
    display: grid;
    grid-template-rows: [row1-start] 100px [row1-end row2-start] 600px [row2-end];
}

.textContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    text-overflow: clip;

}

.text {
    font-family: 'Courier New', Courier, monospace;
    width: 600px;
    text-align: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.button {
    background-color: lightskyblue;
    color: white;
    border-radius: 20px;
    border: none;
    font-family:'Courier New', Courier, monospace;
    margin: 10px;
    padding: 10px;
 
}
